.item-header{
  height: 180px;
  display: flex;
  border-bottom: 1px solid #e2e0e0;
  &__boom{
    font-size: 80px;
    padding: 80px 0 0 80px;
    font-family: 'Caveat', cursive;
  }
  &__menu{
    display: flex;
    padding: 120px 0 0 30px;
    &__bar{
      margin: 0 0 0 50px;
    }
  }
  &__sgin-btn{
    display: flex;
    padding: 120px 0 0 50px;
    &__log-out{
      margin: 0 0 0 100px;
      &__text{
        color: #000;
        text-decoration: none;
      }
    }
  }

}