.item-header {
  height: 180px;
  display: flex;
  border-bottom: 1px solid #e2e0e0;
}
.item-header__boom {
  font-size: 80px;
  padding: 80px 0 0 80px;
  font-family: "Caveat", cursive;
}
.item-header__menu {
  display: flex;
  padding: 120px 0 0 30px;
}
.item-header__menu__bar {
  margin: 0 0 0 50px;
}
.item-header__sgin-btn {
  display: flex;
  padding: 120px 0 0 50px;
}
.item-header__sgin-btn__log-out {
  margin: 0 0 0 100px;
}
.item-header__sgin-btn__log-out__text {
  color: #000;
  text-decoration: none;
}
