*{
  background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.sign_up_main__center{
  width: 450px;
  margin: 100px auto;
  &__title{
    font-size: 50px;
    font-family: 'Caveat', cursive;
    text-align: center;
  }
}

.sign_up_field{
  margin: 20px 0px 0px 0px;
  &__name{
    width: 440px;
    height: 50px;
    padding: 0 0 0 10px;
    font-size: 20px;
    border:solid 0px;
    border-bottom: 1px solid #e2e0e0;
  }
}

.sign_up_btn{
  padding: 100px 0 0 0;
  height: 100px;
 &__text{
   width: 100px;
   height: 50px;
   margin: 0 0 0 170px;
 }
}